<div class="ct_dashbaord_middle">
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center gap-3">
            <a (click)="backClicked()" style="cursor: pointer;"
                class="mb-0 ct_back_btn_4 ct_fs_22 text-dark ct_fw_500"><i
                    class="fa-solid fa-arrow-left-long me-1"></i>Back</a>
            <h4 *ngIf="year != 0" class="mb-0 ct_fs_22">{{year}}{{ getOrdinalSuffix(year) }} Questions</h4>
        </div>

        <!-- <h4 class="mb-0 ct_fs_22">13th Birthday Questions</h4> -->
        <!-- <div class="d-flex align-items-center gap-3">

            <div class="ct_category_filter123 ct_575_100 d-flex align-items-center gap-2 ">
                <span class="ct_text_op_5  ct_fs_13" style="white-space: nowrap;">Select Language :</span>
                <select class="form-control py-2 h-auto ct_input" style="border-radius: 5px;" [(ngModel)]="languageId"
                    (change)="onLanguageChange($event)">
                    <option *ngFor="let lan of languages" [value]="lan.code">
                        {{ lan.name }}
                    </option>
                </select>
            </div>

            <button style="cursor: pointer;" class="ct_green_btn px-5" data-bs-toggle="modal"
                data-bs-target="#ct_add_sub_admin">
                Add Question
            </button>
        </div> -->
    </div>


    <div class="table-responsive">
        <div class="col-md-8 mx-auto">
            @if(video){
            <div class="ct_video_img">
                <video [src]="video" style="filter: brightness(0.8);object-position: bottom;" #videoPlayer1 width="100%"
                    height="290" playsinline preload="metadata" crossorigin="anonymous" controls>
                </video>
            </div>
            }

        </div>
        <table class="table ct_project_table">
            <thead>
                <tr>
                    <th>S No.</th>
                    <th>Question</th>
                    <!-- <th>Action</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of questions; let i = index">
                    <td>{{i+1}}</td>
                    <td>
                        <p class="text-end mb-0">
                            {{item.questions}}
                        </p>
                        <!-- </td>
                    <td class="text-end">
                        <div class="d-flex align-items-center gap-3 justify-content-end">
                            <i class="fa-solid fa-pen-to-square" style="cursor: pointer" data-bs-toggle="modal"
                                data-bs-target="#ct_edit_sub_admin" (click)="patchUpdate(item)"></i>
                            <i class="fa-solid fa-trash-can text-danger" style="cursor: pointer" data-bs-toggle="modal"
                                data-bs-target="#ct_delete_blog" (click)="patchUpdate(item)"></i>
                        </div>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>


</div>