<section class="ct_login_main_div">
  <div class="container-fluid px-0">
    <div class="ct_login_left_bg">


      <div class="row align-items-center">
        <div class="col-lg-6 mb-4 mb-md-0">
          <div class="ct_left_login_img">
            <img src="assets/img/login_left_img.png" alt="img">
          </div>
        </div>
        <div class="col-lg-4 offset-0 offset-lg-1  mb-4 mb-lg-0">
          <div class="ct_login_right_form w-60 mx-auto mx-lg-0">

            <div class="ct_login_logo mx-auto d-block text-center mb-4">
              <img src="assets/img/Logo_black.svg" alt="">
            </div>
            <div class="mb-5 text-center">
              <h4 class="ct_fs_28 mb-2">Login to your Account</h4>
              <!-- <p class="mb-0">See what is going on with your business</p> -->
            </div>
            <form [formGroup]="loginForm">
              <div class="form-group mb-3">
                <label class="mb-2">Email <span class="ct_required_star">*</span></label>
                <input required="" type="email" name="text" autocomplete="off" formControlName="email"
                  placeholder="Email" class="form-control ct_input">
                <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched"
                  class="error-message">
                  <div *ngIf="loginForm.controls['email'].errors?.['required']" class="ct_fs_14 mt-1">
                    Email is required.
                  </div>
                  <div
                    *ngIf="loginForm.controls['email'].errors?.['email'] && !loginForm.controls['email'].errors?.['required']"
                    class="ct_fs_14 mt-1">
                    Invalid email format.</div>
                </div>
              </div>
              <div class="form-group mb-4 position-relative">
                <label class="mb-2">Password <span class="ct_required_star">*</span></label>
                <input required="" type="{{ isPasswordVisible ? 'text' : 'password' }}" name="text" autocomplete="off"
                  formControlName="password" placeholder="Password" class="form-control ct_input">
                <i class="fa-regular ct_hide_pass_wye" [ngClass]="isPasswordVisible ? 'fa-eye' : 'fa-eye-slash' "
                  (click)="togglePasswordVisibility()"></i>

                <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
                  class="error-message">
                  <div *ngIf="loginForm.controls['password'].errors?.['required']" class="ct_fs_14 mt-1">
                    Password is
                    required.</div>
                </div>
              </div>

              <div class="ct_remember_text">
                <!-- <div class="d-flex align-items-center gap-2">
                               <input type="checkbox" class="ct_checkbox" id="remember">
                              <label for="remember"> Remember Me </label>
                            </div> -->
                <div class="ct_checkbox_main">
                  <!-- <div>
                    <input checked="" type="checkbox" id="ct_checkbox_cbx" class="ct_hidden-xs-up ct_checkbox_cbx_12">
                    <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                  </div> -->
                  <!-- <p class="mb-0">Remember Me</p> -->
                </div>
                <div class="ct_forgot_link">
                  <!-- <a routerLink="/forgot-password">Forgot Password?</a> -->
                </div>
              </div>
              <div class="mt-4 d-block" (click)="loginAndFetchData()">
                <a type="button" class="ct_green_btn w-100 ct_h_50">
                  Login
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="ct_loader_main" *ngIf="loading">
  <div class="loadingio-spinner-spinner-977el9wwy2v">
    <div class="ldio-4j5ay0xf86g">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>