<div class="ct_dashbaord_middle">
  <div class="d-flex align-items-center gap-3">
    <!-- <a style="cursor: pointer;" (click)="backClicked()" class="mb-0 ct_fs_22 text-dark ct_fw_500"><i
        class="fa-solid fa-arrow-left-long me-3"></i>Back</a> -->
    <h4 class="mb-0 ct_fs_22">Timeline</h4>

  </div>

  <ul (click)="backClicked()" style="cursor: pointer;"
    class="d-flex align-items-center gap-md-3 gap-2 mt-4 mb-3 ct_breadcrumb_list flex-wrap">
    <li>{{year}} </li>
  </ul>

  <div class="row ct_mt_30">
    <div class="col-lg-12 mb-4 mb-lg-0">
      <div class="ct_grid_6">
        <a style="cursor: pointer;" (click)="getMonths(item.Months)" class="ct_timeline_box" *ngFor="let item of data">
          <img  src="assets/img/timeline_img.png" alt="">
          <h4 class="mb-0 text-white ct_fs_24 ct_fs_600">{{item.Months}}</h4>
        </a>
      </div>
    </div>
  </div>
</div>