<div class="ct_dashbaord_middle">

    <div class="d-flex align-items-center gap-3">
        <a (click)="backClicked()" style="cursor: pointer;" class="mb-0 ct_back_btn_4 ct_fs_22 text-dark ct_fw_500"><i
            class="fa-solid fa-arrow-left-long me-1"></i>Back</a>
        <h4 class="mb-0 ct_fs_22">Pet-Timeline</h4>
    </div>

    <div class="d-flex align-items-center justify-content-between mt-3">
        <div class="ct_subscription_tab">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" [ngClass]="{ 'active': activeTab == 'year' }"
                        (click)="setActiveTab('year')" id="pills-year-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-yaer" type="button" role="tab" aria-controls="pills-year"
                        aria-selected="true">Years</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" [ngClass]="{ 'active': activeTab == 'month' }"
                        (click)="setActiveTab('month')" (click)="getMonth()" id="pills-month-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-month" type="button" role="tab" aria-controls="pills-month"
                        aria-selected="false">Months</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" [ngClass]="{ 'active': activeTab == 'date' }"
                        (click)="setActiveTab('date')" (click)="getDates()" id="pills-date-tab"
                        data-bs-toggle="pill" data-bs-target="#pills-date" type="button" role="tab"
                        aria-controls="pills-date" aria-selected="false">Days</button>
                </li>

            </ul>
        </div>
    </div>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show " [ngClass]="{ 'active': activeTab == 'year' }" id="pills-year" role="tabpanel"
            aria-labelledby="pills-year-tab">
            <div class="row ct_mt_30">
                <div class="col-lg-12 mb-4 mb-lg-0">
                    <div class="ct_grid_6">
                        <!-- <h1>Year</h1> -->
                        <a style="cursor: pointer;" (click)="getYearPhotos(item.Years)" class="ct_timeline_box"
                            *ngFor="let item of yearData">
                            <!-- <img [src]='item.images_url ? item.images_url : "assets/img/timeline_img.png"' alt=""> -->
                            <img src="assets/img/timeline_img.png" alt="">
                            <h4 class="mb-0 text-white ct_fs_24 ct_fs_600">{{item.Years}}</h4>
                        </a>
                    </div>
                    <div *ngIf="yearData?.length == 0 || !yearData" class="text-center">
                        <p class="ct_fs_15 mt-5">No items found</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="pills-month" role="tabpanel" aria-labelledby="pills-month-tab">
            <div class="row ct_mt_30">
                <div class="col-lg-12 mb-4 mb-lg-0">
                    <div class="ct_grid_6">
                        <!-- <h1>Year</h1> -->
                        <a style="cursor: pointer;" (click)="getMonthPhotos(item.Months_Years)"
                            class="ct_timeline_box" *ngFor="let item of monthlyData">
                            <img src="assets/img/timeline_img.png" alt="">
                            <h4 class="mb-0 text-white ct_fs_24 ct_fs_600">{{ item.Months_Years }} </h4>
                        </a>
                    </div>
                    <div *ngIf="monthlyData?.length == 0 || !monthlyData" class="text-center">
                        <p class="ct_fs_15 mt-5">No items found</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" [ngClass]="{ 'active': activeTab == 'date' }" id="pills-date" role="tabpanel"
            aria-labelledby="pills-date-tab">
            <div class="row ct_mt_30">
                <div class="col-lg-12 mb-4 mb-lg-0">
                    <div class="ct_grid_6">
                        <a style="cursor: pointer;" (click)="getDate(item.Dates_Months_Years)" class="ct_timeline_box"
                            *ngFor="let item of dayData">
                            <img [src]='item.image ? item.image : "assets/img/timeline_img.png"' alt="">
                            <h4 class="mb-0 text-white ct_fs_24 ct_fs_600">{{item.Dates_Months_Years}}</h4>
                        </a>
                    </div>
                    <div *ngIf="dayData?.length == 0 || !dayData" class="text-center">
                        <p class="ct_fs_15 mt-5">No items found</p>
                    </div>
                </div>
            </div>

            <!-- <div class="row ct_mt_30" *ngFor="let group of imageGroups">

                <h3 class="formatted-date ct_fs_24 ct_fw_600 text-center">{{ group.formatted_date }}</h3>

                <div class="col-lg-12 mb-5 mb-lg-0">

                    <div class="ct_grid_6 mt-4">
                        <div class="ct_album_photo ct_max_w_214" *ngFor="let pic of group.albums_data; let i = index"
                            (click)="openModal(i)">
                            <div *ngIf="pic.type == 'Photo'">
                                <img [src]="pic.images_url ? pic.images_url : 'assets/img/timeline_img.png'"
                                    alt="Not Found" data-bs-toggle="modal" data-bs-target="#preview_img"
                                    style="cursor: pointer;" class="ct_img_h_214">
                            </div>

                            <div *ngIf="pic.type == 'Video'">
                                <video class="ct_img_h_214" [src]="pic.images_url ? pic.images_url : 'assets/img/demo.png'"
                                    style="filter: brightness(0.8);object-position: bottom;" #videoPlayer1
                                    (timeupdate)="onTimeUpdate1(videoPlayer1)"
                                    (loadedmetadata)="setVideoDuration1(videoPlayer1)" width="100%" height="290"
                                    playsinline preload="metadata" crossorigin="anonymous">
                                    poster="https://assets.codepen.io/32795/poster.png"
                                    <source [src]="pic.images_url ? pic.images_url : 'assets/img/demo.png'" type="video/mp4">
                                    <source [src]="pic.images_url ? pic.images_url : 'assets/img/demo.png'" type="video/webm">
                                    <source [src]="pic.images_url ? pic.images_url : 'assets/img/demo.png'" type="video/mov">
                                    <source [src]="pic.images_url ? pic.images_url : 'assets/img/demo.png'" type="video/ogg">
                                </video>

                                <div class="ct_video_icon" style="cursor: pointer;" data-bs-toggle="modal"
                                    data-bs-target="#preview_img">
                                    <a>
                                        <svg width="17" height="18" viewBox="0 0 17 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M15.0185 7.50999L4.2285 2.11332C3.92347 1.96068 3.58447 1.88859 3.24372 1.9039C2.90298 1.91921 2.57181 2.02141 2.2817 2.20079C1.99158 2.38017 1.75217 2.63077 1.58621 2.92876C1.42025 3.22675 1.33325 3.56223 1.3335 3.90332V14.0967C1.33325 14.4377 1.42025 14.7732 1.58621 15.0712C1.75217 15.3692 1.99158 15.6198 2.2817 15.7992C2.57181 15.9786 2.90298 16.0808 3.24372 16.0961C3.58447 16.1114 3.92347 16.0393 4.2285 15.8867L15.0185 10.49C15.295 10.3514 15.5274 10.1387 15.6899 9.87553C15.8523 9.61239 15.9384 9.30924 15.9384 8.99999C15.9384 8.69074 15.8523 8.38759 15.6899 8.12444C15.5274 7.8613 15.295 7.64855 15.0185 7.50999Z"
                                                stroke="white" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                    </a>
                                </div>

                            </div>

                            <div *ngIf="pic.type == 'PDF'" class="pdf">
                                <div>
                                    <div data-bs-toggle="modal" data-bs-target="#preview_img" class="ct_pdf_model">
                                    </div>

                                    <iframe scrolling="no" [src]="sanitizeUrl(pic.images_url)" width="100%" height="250"
                                        class="ct_pdf_scroll ct_img_h_214"></iframe>
                                </div>
                            </div>

                            <div class="ct_checkbox_main ct_file_select">
                                <div>
                                    <input type="checkbox" [(ngModel)]="pic.checked" id="ct_checkbox_cbx{{ pic.id }}"
                                        class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                    <label for="ct_checkbox_cbx{{ pic.id }}" class="ct_checkbox_cbx"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div *ngIf="!imageGroups || imageGroups.length === 0" class="text-center">
                <p class="ct_fs_15 mt-5">No items found</p>
            </div> -->
        </div>
    </div>

</div>










<!-- view photo  S -->

<div class="modal fade Committed_Price" id="preview_img" tabindex="-1" aria-labelledby="preview_imgLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content p-3">
            <div class="modal-body px-0 pt-0">
                <div class="">
                    <form action="">
                        <div class="image-carousel">
                            <a href="javascript:void(0)" (click)="prevImage()" class=" mb-0 text-dark"><i
                                    class="fa-solid fa-chevron-left"></i></a>

                            <div class="ct_preview_img mx-2">
                                <div *ngIf="imageObject[currentIndex]?.type == 'Photo'">
                                    <img [src]="imageObject[currentIndex]?.images_url">
                                </div>
                                <div class="position-relative" *ngIf="imageObject[currentIndex]?.type == 'Video'">
                                    <video
                                        [src]="imageObject[currentIndex]?.images_url ? imageObject[currentIndex]?.images_url : 'assets/img/demo.png'"
                                        style="filter: brightness(0.8);object-position: bottom;" #videoPlayer1
                                        (timeupdate)="onTimeUpdate1(videoPlayer1)"
                                        (click)="toggleVideo1(videoPlayer1, imageObject[currentIndex]?.id)"
                                        (loadedmetadata)="setVideoDuration1(videoPlayer1)" width="100%" height="290"
                                        playsinline preload="metadata" crossorigin="anonymous">
                                        <!-- poster="https://assets.codepen.io/32795/poster.png" -->
                                        <source
                                            [src]="imageObject[currentIndex]?.images_url ? imageObject[currentIndex]?.images_url : 'assets/img/demo.png'"
                                            type="video/mp4">
                                        <source
                                            [src]="imageObject[currentIndex]?.images_url ? imageObject[currentIndex]?.images_url : 'assets/img/demo.png'"
                                            type="video/webm">
                                        <source
                                            [src]="imageObject[currentIndex]?.images_url ? imageObject[currentIndex]?.images_url : 'assets/img/demo.png'"
                                            type="video/mov">
                                        <source
                                            [src]="imageObject[currentIndex]?.images_url ? imageObject[currentIndex]?.images_url : 'assets/img/demo.png'"
                                            type="video/ogg">
                                    </video>

                                    <!-- Fullscreen Button with Font Awesome Icon -->
                                    <button (click)="toggleFullscreen(videoPlayer1)" class="fullscreen-button">
                                        <i class="fas fa-expand"></i>
                                    </button>

                                    <!-- Seek bar -->
                                    <!-- <input type="range" class="custom-seekbar1" *ngIf="currentVideoId1 === videoPlayer1"
                                        (input)="onSeek1($event, videoPlayer1)" [value]="seekValue" /> -->

                                    <div class="ct_video_icon" *ngIf="!isVideoPlaying1(videoPlayer1)"
                                        (click)="toggleVideo1(videoPlayer1, imageObject[currentIndex]?.id)"
                                        style="cursor: pointer;">
                                        <a>
                                            <svg width="17" height="18" viewBox="0 0 17 18" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M15.0185 7.50999L4.2285 2.11332C3.92347 1.96068 3.58447 1.88859 3.24372 1.9039C2.90298 1.91921 2.57181 2.02141 2.2817 2.20079C1.99158 2.38017 1.75217 2.63077 1.58621 2.92876C1.42025 3.22675 1.33325 3.56223 1.3335 3.90332V14.0967C1.33325 14.4377 1.42025 14.7732 1.58621 15.0712C1.75217 15.3692 1.99158 15.6198 2.2817 15.7992C2.57181 15.9786 2.90298 16.0808 3.24372 16.0961C3.58447 16.1114 3.92347 16.0393 4.2285 15.8867L15.0185 10.49C15.295 10.3514 15.5274 10.1387 15.6899 9.87553C15.8523 9.61239 15.9384 9.30924 15.9384 8.99999C15.9384 8.69074 15.8523 8.38759 15.6899 8.12444C15.5274 7.8613 15.295 7.64855 15.0185 7.50999Z"
                                                    stroke="white" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                        </a>
                                    </div>

                                </div>
                                <div *ngIf="imageObject[currentIndex]?.type == 'PDF'">
                                    <iframe [src]="sanitizeUrl(imageObject[currentIndex]?.images_url)" width="100%"
                                        height="250" class="ct_pdf_scroll"></iframe>
                                </div>
                                <h3 class="text-center mb-0 mt-3">{{ imageObject[currentIndex]?.title }}</h3>
                                <h4 class="text-center mb-0 mt-3">{{ imageObject[currentIndex]?.description }}</h4>
                            </div>

                            <a href="javascript:void(0)" (click)="nextImage()" class=" mb-0 text-dark"><i
                                    class="fa-solid fa-chevron-right"></i></a>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer justify-content-center border-0 gap-4 ct_flex_wrap_767 pb-0">
                <button type="button ct_" class="ct_green_btn ct_green_outline_btn ct_h_50 text-dark"
                    data-bs-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="ct_green_btn ct_h_50" (click)="downloadImage()">
                    <i class="fa-solid fa-download me-2"></i> Download
                </button>
            </div>

        </div>
    </div>
</div>





<div class="ct_loader_main" *ngIf="loading">
    <div class="loadingio-spinner-spinner-977el9wwy2v">
        <div class="ldio-4j5ay0xf86g">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>