<div class="ct_dashbaord_middle">
    <div class="d-flex align-items-center justify-content-between">
        <h4 class="mb-0 ct_fs_22">13th Birthday questions</h4>
        <div class="d-flex align-items-center gap-3">

            <div class="ct_category_filter123 ct_575_100 d-flex align-items-center gap-2 ">
                <span class="ct_text_op_5  ct_fs_13" style="white-space: nowrap;">Select Language :</span>
                <select class="form-control py-2 h-auto ct_input" style="border-radius: 5px;">
                    <option>
                        English
                    </option>
                    <option>
                        German
                    </option>
                </select>
            </div>

            <button style="cursor: pointer;" class="ct_green_btn px-5">
                Add Question
            </button>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table ct_project_table">
            <thead>
                <tr>
                    <th>S No.</th>
                    <th>Question</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <p class="mb-0">
                            What would you like more of in your life?
                        </p>
                    </td>
                    <td class="text-end">
                        <div class="d-flex align-items-center gap-3 justify-content-end">
                            <i class="fa-solid fa-pen-to-square" style="cursor: pointer"></i>
                            <i class="fa-solid fa-trash-can text-danger" style="cursor: pointer"></i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <p class="mb-0">
                            What would you like more of in your life?
                        </p>
                    </td>
                    <td class="text-end">
                        <div class="d-flex align-items-center gap-3 justify-content-end">
                            <i class="fa-solid fa-pen-to-square" style="cursor: pointer"></i>
                            <i class="fa-solid fa-trash-can text-danger" style="cursor: pointer"></i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <p class="mb-0">
                            What would you like more of in your life?
                        </p>
                    </td>
                    <td class="text-end">
                        <div class="d-flex align-items-center gap-3 justify-content-end">
                            <i class="fa-solid fa-pen-to-square" style="cursor: pointer"></i>
                            <i class="fa-solid fa-trash-can text-danger" style="cursor: pointer"></i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>
                        <p class="mb-0">
                            What would you like more of in your life?
                        </p>
                    </td>
                    <td class="text-end">
                        <div class="d-flex align-items-center gap-3 justify-content-end">
                            <i class="fa-solid fa-pen-to-square" style="cursor: pointer"></i>
                            <i class="fa-solid fa-trash-can text-danger" style="cursor: pointer"></i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>
                        <p class="mb-0" style="word-break: break-all;white-space: normal;">
                            What would you like more of in your life?What would you like more of in your life?What would
                            you like more of in your life?What would you like more of in your life?What would you like
                            more of in your life?What would you like more of in your life?What would you like more of in
                            your life?What would you like more of in your life?What would you like more of in your
                            life?What would you like more of in your life?What would you like more of in your life?What
                            would you like more of in your life?What would you like more of in your life?What would you
                            like more of in your life?
                        </p>
                    </td>
                    <td class="text-end">
                        <div class="d-flex align-items-center gap-3 justify-content-end">
                            <i class="fa-solid fa-pen-to-square" style="cursor: pointer"></i>
                            <i class="fa-solid fa-trash-can text-danger" style="cursor: pointer"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>