.ct_side_logo img {
    width: 248px;
    object-fit: contain;
}

.ct_content_right {
    min-height: 100vh;
}

.ct_sidebar_menu {
    background: var(--orange);
    width: 300px;
    position: fixed;
    height: 100vh;
    left: 0px;
    overflow-y: auto;
    padding: 26px 34px;
    transition: 0.6s ease all;
    z-index: 9;
}

.ct_sidebar_menu ul li.active svg path {
    stroke: var(--dark_green);
}

.ct_sidebar_menu ul {
    padding-top: 60px;
    list-style: none;
}

.ct_sidebar_menu ul li {

    margin-bottom: 15px;
}

.ct_sidebar_menu ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 100px;
    transition: 0.4s ease all;
}

.ct_sidebar_menu ul li:hover a {
    background-color: #fff;
}

.ct_sidebar_menu ul li:hover a svg path {
    stroke: var(--dark_green);
}

.ct_sidebar_menu ul li:hover a {
    color: var(--dark_green);
}

.ct_sidebar_menu ul li a i {
    font-size: 18px;
    font-weight: 900;
}

.ct_sidebar_menu ul li a {
    color: #fff;
}

.ct_sidebar_menu ul li.active a {
    background-color: #fff;
    color: var(--dark_green);
    font-weight: 600;

}

.ct_dashbaord_bg {
    background-color: #E4E8DA;
    /* height: 100vh; */
}

.ct_content_right {
    width: calc(100% - 300px);
    margin-left: auto;
    transition: 0.4s ease all;

}

.ct_logout_btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ct_dashboard_head {
    border-bottom: 1px solid rgb(0 0 0 / 8%);
    padding: 23px 30px;
}

.ct_dashboard_head img {
    width: 20px;
    object-fit: contain;
}

.ct_dashboard_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ct_back_project_btn {
    padding: 14px;
    border: 1px solid #B4AEAE;
    border-radius: 10px;
    overflow: hidden;
    font-weight: 700;
}

.ct_dashboard_head h5 {
    font-size: 20px;
    font-weight: 700;
}

button.ct_logout_btn {
    border-radius: 100px;
    border-color: transparent;
    padding-block: 6px;
    /* width: 160px;/ */
}

.ct_logout_btn {
    text-align: left;
    padding-block: 5px;
    /* overflow: hidden; */
}

.ct_logout_btn i {
    color: var(--red);
}

.ct_logout_btn:hover i {
    color: #fff;
}

.ct_logout_btn h6 {
    font-size: 14px;
    margin-bottom: 0px;
}

.ct_logout_btn p {
    font-size: 12px;
}

.ct_toggle_side span {
    background-color: #fff;
    width: 22px;
    height: 2px;
    display: block;
    transition: 0.4s ease all;
}

.ct_sidebar_menu span+span {
    margin-top: 4px;
}

.ct_toggle_side {
    border-radius: 5px;
    position: fixed;
    width: 36px;
    height: 36px;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    top: 26px;
    gap: 4px;
    right: calc(100% - 285px);
    /* z-index: 9999999999; */
    cursor: pointer;
    transition: 0.4s ease all;
    display: none;
}



.ct_dashbaord_middle {
    padding: 24px 30px;
}

.ct_fs_22 {
    font-size: 22px;
    font-weight: 800;
}

.ct_days_select select {
    padding: 8px 15px;
    border: 1px solid #fff;
    border-radius: 100px;
    outline: none;
}

.ct_dash_card,
.ct_light_white_bg_clr {
    background-color: rgb(255 255 255 / 35%);
    border-radius: 10px;
    padding: 18px;
}

.ct_small_icon {
    width: 46px;
    height: 46px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ct_small_icon i {
    font-size: 20px;
    color: #fff;
}

.ct_dash_card_info {
    margin-top: 20px;
}

.ct_dash_card_info span {
    font-size: 16px;
    color: var(--dark_green);
}

.ct_dash_card_info h4 {
    margin-block: 10px;
    font-size: 28px;
    font-weight: 500;
}

.ct_dash_card_info p {
    font-size: 10px;
    margin-bottom: 0px;
    font-weight: 700;
}

.ct_mt_20 {
    margin-top: 20px;
}

.ct_dash_card_info h4 span {
    color: #000;
}

.ct_mt_30 {
    margin-top: 30px;
}

.ct_project_summary_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}


.ct_radial_progress[role="progressbar"] {
    --size: 40px;

    --bg: #def;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;

    font-size: calc(var(--size) / 4);
    color: var(--fg);
    font-weight: 900;
}

.ct_green_circle {
    background:
        radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
        conic-gradient(#1A932E calc(var(--pgPercentage) * 1%), var(--bg) 0);
}

.ct_radial_progress[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
}

.ct_radial_progress[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
}

@keyframes growProgressBar {

    0%,
    33% {
        --pgPercentage: 0;
    }

    100% {
        --pgPercentage: var(--value);
    }
}

@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

.ct_project_table tr th {
    border-bottom: 0px;
    padding: 10px 16px;
}

.ct_project_table tr th,
.ct_project_table tr td {
    background-color: transparent;
    white-space: nowrap;
}

.ct_project_table tbody tr td {
    vertical-align: middle;
    border: 0px;
    padding: 10px 16px;
    font-weight: 400;
    border: 1px solid #B9B9B9;
    border-right-width: 0px;
    border-left-width: 0px;

}

.ct_project_table tbody tr td:first-child {
    border-radius: 20px 0px 0px 20px;
    border-left-width: 1px;

}

.ct_project_table tbody tr td:last-child {
    border-radius: 0px 20px 20px 0px;
    border-right-width: 1px;
}

.ct_project_table {
    border-collapse: separate;
    border-spacing: 0px 14px;
}

.ct_custom_table_main tbody tr {
    transition: 0.4s ease all;
}

.ct_custom_table_main tbody tr:hover {
    background-color: #fff;
}

.ct_custom_table_main tbody tr td {
    padding-block: 14px;
}

.ct_project_table thead tr th:last-child {
    text-align: end;
}

.ct_project_table tbody tr td:last-child .ct_radial_progress {
    margin: auto;
}

.ct_badge {
    padding: 6px 13px;
    border-radius: 100px;

    text-align: center;
    width: fit-content;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
}

.ct_badge_green {
    background-color: rgb(26 147 46 / 18%);
    color: var(--green);
}

.ct_badge_yellow {
    background-color: rgb(229 174 33 / 18%);
    color: #E5AE21;
}

.ct_badge_red {
    background-color: rgb(238 32 28 / 18%);
    color: #EE201C;
}

.ct_badge_orange {
    background-color: rgb(230 95 43 / 18%);
    color: #E65F2B;
}

.ct_green_circle {
    background:
        radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
        conic-gradient(#1A932E calc(var(--pgPercentage) * 1%), var(--bg) 0);
}

.ct_yellow_circle {
    background:
        radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
        conic-gradient(#E5AE21 calc(var(--pgPercentage) * 1%), var(--bg) 0);
}

.ct_red_circle {
    background:
        radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
        conic-gradient(#EE201C calc(var(--pgPercentage) * 1%), var(--bg) 0);
}

.ct_orange_circle {
    background:
        radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
        conic-gradient(#E65F2B calc(var(--pgPercentage) * 1%), var(--bg) 0);
}

.ct_verticle_overflow {
    height: auto;
    max-height: 380px;
    overflow-y: auto;
}

.ct_project_summary_head h4 {
    font-weight: 700;
    font-size: 20px;
}

.ct_task_tab button.active {
    background-color: transparent !important;
    border: 0px;
    border-bottom: 2px solid #2B5CE6 !important;
}

.ct_task_tab ul#myTab {
    gap: 15px;
}

.ct_task_tab .nav-tabs .nav-link {
    color: #060606;
    font-weight: 700;
}

.ct_light_blue_info {
    color: #2B5CE6;
    background-color: rgb(43 92 230 / 10%);
    padding: 5px;
    border-radius: 100px;
    font-size: 12px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

input.ct_round_checkbox {
    width: 18px;
    height: 18px;
    outline: none;
    accent-color: var(--orange);
    border-radius: 100px;
    clip-path: circle();
    position: relative;
}

input.ct_round_checkbox:before {
    content: "";
    position: absolute;
    border: 1px solid #060606A3;
    top: 0px;
    width: 18px;
    height: 18px;
    /* background: red; */
    z-index: 99999;
    border-radius: 100px;
}

input.ct_round_checkbox:checked:before {
    border: 0px;
}

.ct_task_table tr td {
    padding-block: 4px !important;
}


/* cost report css S */
.ct_dark_grey_bg {
    background-color: #C7C3C3;
    border-radius: 10px;
    padding: 16px;
}

.ct_btn_group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ct_btn_group button {
    border: 0px solid transparent;
    padding-block: 12px;
    border-radius: 5px;
    font-size: 16px;
    text-shadow: 0px 0px 10px #aaa;
    font-weight: 600;
    overflow: hidden;
}

.ct_usd_icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.ct_currency_input,
.ct_purchase_select {
    text-indent: 25px;
    width: 100%;
    height: 40px;
    border: 1px solid #B5B5B5;
    border-radius: 10px;
    text-align: end;
    padding-inline: 15px;
    font-weight: 600;
    outline: none;
}

.ct_purchase_select {
    text-align: left;
}

.ct_purchase_select:focus,
.ct_currency_input:focus {
    border-color: var(--orange);
}

.ct_multiple_purchase_line tr td {
    border: none;
    padding: 0px;
    vertical-align: middle;

}

.ct_bg_grey_select {
    background-color: #C7C7C7;
    text-indent: 0px;
}

.Committed_Price .modal-body {
    padding-inline: 50px;
}

.ct_multiple_purchase_line tr td {
    padding-bottom: 15px;
}

.ct_orange_text {
    color: var(--orange);
    text-decoration: underline;
}

.ct_text_area {
    border: 1px solid #B5B5B5;
    border-radius: 10px;
    width: 100%;
    padding: 10px 15px;
}

.ct_fs_16 {
    font-size: 16px;
    color: #000;
}

label.ct_file_upload {
    border: 1px solid #d2d1d1;
    width: 100%;
    padding: 15px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.ct_file_upload span,
.ct_file_upload span i {
    font-weight: 700;
    font-size: 18px;
}

::-webkit-file-upload-button {
    display: none;
}

.ct_outline_orange {
    border-color: var(--orange);
    color: #000;
    width: 140px;
    border-radius: 10px;
    font-weight: 600;
    overflow: hidden;
}

.ct_modal_submit {
    width: 140px;
    border-radius: 10px;
    height: 42px;
    overflow: hidden;
}

.Committed_Price .modal-footer {
    padding-bottom: 50px;
    display: flex;
    flex-wrap: nowrap;
    padding-inline: 50px;

}

.Committed_Price .modal-footer button {
    width: 100%;
}

.Committed_Price .modal-content {
    border-radius: 15px;
}

.ct_add_item {
    height: 38px;
    border-radius: 5px;
    line-height: 0px;
}

.ct_add_item:hover {
    border-color: #000
}

.ct_custom_table_main tbody tr {
    background-color: rgb(255 255 255 / 44%);
    padding: 10px;
}

.ct_custom_table_main {
    border-collapse: separate;
    border-spacing: 0px 8px;
}

.ct_edit_icon {
    width: 30px;
    height: 30px;
    border-radius: 10px;

    background-color: #D7D5D5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ct_edit_icon i {
    color: #0019FF;
    font-size: 13px;
}

.ct_custom_table_main tr td:first-child {
    border-radius: 10px 0px 0px 10px;
}

.ct_custom_table_main tr td:last-child {
    border-radius: 0px 10px 10px 0px;
}

/* cost report css E*/

/* supply chain page css S */
.ct_flex_1 {
    flex: 1;
}

.ct_search_input input {
    border-radius: 100px;
}

.ct_search_input i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.ct_uploaded_img {
    width: 40px;
    height: 40px;
}

.pt-15 {
    padding-top: 15px !important;
}

.ct_computer_img img {
    width: 70%;
    margin: auto;
    display: block;
}

.ct_fw_600 {
    font-weight: 600;
}

.ct_fs_35 {
    font-size: 35px;
    font-weight: 700;
}

.ct_position_center {
    margin-top: auto;
    height: calc(100vh - 89px);
    display: flex;
    align-items: center;
}

.ct_white_bg_1 {
    background-color: #fff;
    padding: 20px 16px;
    border-radius: 8px;
    transition: 0.4s ease all;
    border: 2px dashed transparent;
}

.ct_white_bg_1:hover {
    border: 2px dashed var(--orange);
}

.ct_white_bg_1 i.fa-solid.fa-plus {
    font-size: 30px;
    color: #000;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

.ct_white_bg_1 h4 {
    font-size: 22px;
    color: #000;
    font-weight: 700;
    text-align: center;
}

.ct_grid_between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 34px;
}

canvas#foo {
    height: 350px !important;
    width: 100% !important;
    object-fit: contain;
}

.ct_green_check i {
    color: var(--green);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.form-control:focus {
    box-shadow: unset;
    border-color: var(--dark_green);
}

.form-control {
    appearance: auto;
}

.ct_line_h_27 {
    line-height: 27px;
}

.ct_outline_btn:hover {
    color: #fff;
}

.ct_trash {
    cursor: pointer;
    transition: 0.4s ease all;
}

.ct_trash:hover {
    color: red;
}


.ct_green_outline_btn {
    background-color: transparent;
    color: var(--dark_green);
    box-shadow: 0px 4px 4px 0px #00000040;

}

.ct_green_outline_btn:hover {
    background-color: var(--dark_green);
    color: #fff !important;
}

.ct_img_40 {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.ct_border_2 {
    border: 2px solid #fff;
}


.ct_custom_switch .form-check-input:checked {
    background-color: var(--dark_green) !important;
    border-color: var(--dark_green) !important;
}

.ct_custom_switch .form-check-input:focus {
    box-shadow: unset;
}

.ct_custom_switch.form-switch .form-check-input:focus {
    background-image: url('../img/circle_dot.png');
    border-color: #d6d6d6;

}

.ct_custom_switch .form-check-input {
    height: 20px;
}

.ct_border_table_0 tr td {
    border-width: 0px !important;
}

.ct_table_td_white tr td {
    background-color: #fff;
}

.ct_text_op_8 {
    opacity: 0.8;
}

.ct_img_164 {
    width: 164px;
    height: 164px;
    border-radius: 100px;
}

.ct_mb_32 {
    margin-bottom: 32px;
}


.ct_px_50 {
    padding-inline: 50px;
}

.ct_p_16 {
    padding: 16px;
}

.ct_border_radius_5 {
    border-radius: 5px;
}

.ct_edit_icon {
    width: 46px;
    height: 46px;
    border-radius: 10px;
    background-color: #0EAE00;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
}

.ct_w_fit_content {
    width: fit-content;
}

.ct_pb_50 {
    padding-bottom: 50px;
}

.ct_btn_red {
    background-color: #D2000D;
    border-color: #D2000D;
}

.ct_file_main {
    position: relative;
    max-width: 214px;
}

.ct_file_select {
    position: absolute;
    top: 10px;
    left: 10px;
}

.ct_edit_file_cnt {
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--dark_green);
    background-color: #ffffffba;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 14px;
}

.ct_grid_6 {
    display: grid;
    align-items: center;
    gap: 30px;
    column-count: 6;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(214px, 1fr));
}
.ct_grid_2_conditon{
    grid-template-columns: repeat(auto-fit, minmax(214px, 0fr)) !important;
}

.ct_edit_icon.ct_file_edit_icon {
    width: 30px;
    height: 30px;
    bottom: -10px;
}

.ct_file_change {
    width: 138px;
    height: 138px;
    object-fit: contain;
    border-radius: 10px;
}

.ct_img_60 {
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

.ct_file_img {
    position: relative;
}

.ct_file_img>img {
    border-radius: 10px;
    width: 100%;
    height: 214px;
    object-fit: cover;
    filter: brightness(0.8);
}

.ct_sub_album_icon {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.ct_breadcrumb_list li:nth-child(odd) {
    border: 1px solid #CFCFCF;
    padding: 3px 10px;
    border-radius: 10px;
}

.ct_album_photo {
    border: 6px solid #fff;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.ct_album_photo img {
    border-radius: 8px;
}

.ct_preview_img img {
    border-radius: 16px;
}

ul.ct_rating_star123 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 20px;
    margin-top: 15px;
}

ul.ct_rating_star123 li i {
    color: #D9D9D9;
}

.ct_rated_star {
    color: #FCD635 !important;
}

.ct_light_grey_table_td tr td {
    background-color: #FDFDFD2E;
}

.ct_timeline_box {
    position: relative;
    border: 1px solid #0CA000;
    border-radius: 8px;
    max-width: 214px;
    overflow: hidden;
}

.ct_timeline_box h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.ct_white_btn:hover .ct_user_name_info {
    color: #000;
}

.ct_logout_btn:hover i {
    color: var(--red);
}

.ct_custom_dropdown ul.dropdown-menu.show {
    padding-block: 0px;
    border: 0px;
}

.ct_custom_dropdown ul.dropdown-menu.show li {
    padding-block: 5px;
}

.ct_custom_dropdown ul.dropdown-menu.show li:hover {
    background: var(--dark_green);
    color: #fff;
}

.ct_custom_dropdown ul.dropdown-menu.show li:hover a {
    background-color: transparent;
    color: #fff;
}

.ct_loader_main {
    width: 100%;
    background: #f5f5f5;
    position: fixed;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes ldio-4j5ay0xf86g {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.ldio-4j5ay0xf86g div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-4j5ay0xf86g linear 1s infinite;
    background: var(--green);
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
}

.ldio-4j5ay0xf86g div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: var(--green);
}

.ldio-4j5ay0xf86g div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: var(--green);
}

.ldio-4j5ay0xf86g div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: var(--green);
}

.ldio-4j5ay0xf86g div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: var(--green);
}

.ldio-4j5ay0xf86g div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: var(--green);
}

.ldio-4j5ay0xf86g div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: var(--green);
}

.ldio-4j5ay0xf86g div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: var(--green);
}

.ldio-4j5ay0xf86g div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: var(--green);
}

.ldio-4j5ay0xf86g div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: var(--green);
}

.ldio-4j5ay0xf86g div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: var(--green);
}

.ldio-4j5ay0xf86g div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: var(--green);
}

.ldio-4j5ay0xf86g div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: var(--green);
}

.loadingio-spinner-spinner-977el9wwy2v {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
}

.ldio-4j5ay0xf86g {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-4j5ay0xf86g div {
    box-sizing: content-box;
}

#ct_logout_modal .modal-content .modal-body svg {
    width: 50px;
    height: 50px;
    margin-inline: auto;
    display: block;
    margin-bottom: 20px;
    top: 0;
}

.ct_logout_text_modal:hover {
    color: rgb(220, 53, 69);
}

button.btn-close.ct_cloose_btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #aaa;
    opacity: 1;
    background-image: none;
}

button.btn-close.ct_cloose_btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: var(--green);
    opacity: 1;
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease all;
    color: #fff;
    z-index: 9;
}

button.btn-close.ct_cloose_btn i {
    transition: 0.4s ease all;
}

button.btn-close.ct_cloose_btn:hover i {
    transform: rotate(360deg);
}

button.btn-close.ct_cloose_btn i {
    font-size: 20px;
}