<div class="ct_dashbaord_middle">
    <div class="d-flex align-items-center justify-content-between ">
        <h4 class="mb-0 ct_fs_22">All Admins</h4>
        <div class="d-flex align-items-center gap-3">
            <div class="position-relative ct_search_input">
                <input type="text" class="form-control " placeholder="Search ">
                <i class="fa-solid fa-magnifying-glass"></i>

            </div>
            <button class="ct_green_btn" data-bs-toggle="modal" data-bs-target="#ct_add_sub_admin">Add Sub
                Admin</button>
        </div>
    </div>


    <div class="row ct_mt_30">
        <div class="col-lg-12 mb-4 mb-lg-0">
            <div class="table-responsive ">
                <table class="table ct_project_table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Roll</th>
                            <th>E-mail Address</th>
                            <th>Contact no.</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>

                            <td class="w-15">
                                1
                            </td>
                            <td>Vivian Aufderhar</td>
                            <td>Super Admin</td>
                            <td>Arturo_Strosin7yahoo.com</td>
                            <td>(555) 789-0123</td>
                            <td class="text-end">
                                <div class="form-check form-switch ct_custom_switch d-flex justify-content-end">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                        id='flexSwitchCheckChecked' />
                                </div>
                            </td>

                        </tr>
                        <tr>

                            <td class="w-15">
                                2
                            </td>
                            <td>Vivian Aufderhar</td>
                            <td>Super Admin</td>
                            <td>Arturo_Strosin7yahoo.com</td>
                            <td>(555) 789-0123</td>
                            <td class="text-end">
                                <div class="form-check form-switch ct_custom_switch d-flex justify-content-end">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                        id='flexSwitchCheckChecked' />
                                </div>
                            </td>

                        </tr>
                        <tr>

                            <td class="w-15">
                                3
                            </td>
                            <td>Vivian Aufderhar</td>
                            <td>Super Admin</td>
                            <td>Arturo_Strosin7yahoo.com</td>
                            <td>(555) 789-0123</td>
                            <td class="text-end">
                                <div class="form-check form-switch ct_custom_switch d-flex justify-content-end">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                        id='flexSwitchCheckChecked' />
                                </div>
                            </td>

                        </tr>
                        <tr>

                            <td class="w-15">
                                4
                            </td>
                            <td>Vivian Aufderhar</td>
                            <td>Super Admin</td>
                            <td>Arturo_Strosin7yahoo.com</td>
                            <td>(555) 789-0123</td>
                            <td class="text-end">
                                <div class="form-check form-switch ct_custom_switch d-flex justify-content-end">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                        id='flexSwitchCheckChecked' />
                                </div>
                            </td>

                        </tr>
                        <tr>

                            <td class="w-15">
                                5
                            </td>
                            <td>Vivian Aufderhar</td>
                            <td>Super Admin</td>
                            <td>Arturo_Strosin7yahoo.com</td>
                            <td>(555) 789-0123</td>
                            <td class="text-end">
                                <div class="form-check form-switch ct_custom_switch d-flex justify-content-end">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                        id='flexSwitchCheckChecked' />
                                </div>
                            </td>

                        </tr>
                        <tr>

                            <td class="w-15">
                                6
                            </td>
                            <td>Vivian Aufderhar</td>
                            <td>Super Admin</td>
                            <td>Arturo_Strosin7yahoo.com</td>
                            <td>(555) 789-0123</td>
                            <td class="text-end">
                                <div class="form-check form-switch ct_custom_switch d-flex justify-content-end">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                        id='flexSwitchCheckChecked' />
                                </div>
                            </td>

                        </tr>
                        <tr>

                            <td class="w-15">
                                7
                            </td>
                            <td>Vivian Aufderhar</td>
                            <td>Super Admin</td>
                            <td>Arturo_Strosin7yahoo.com</td>
                            <td>(555) 789-0123</td>
                            <td class="text-end">
                                <div class="form-check form-switch ct_custom_switch d-flex justify-content-end">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                        id='flexSwitchCheckChecked' />
                                </div>
                            </td>

                        </tr>
                        <tr>

                            <td class="w-15">
                                8
                            </td>
                            <td>Vivian Aufderhar</td>
                            <td>Super Admin</td>
                            <td>Arturo_Strosin7yahoo.com</td>
                            <td>(555) 789-0123</td>
                            <td class="text-end">
                                <div class="form-check form-switch ct_custom_switch d-flex justify-content-end">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                        id='flexSwitchCheckChecked' />
                                </div>
                            </td>

                        </tr>
                        <tr>

                            <td class="w-15">
                                9
                            </td>
                            <td>Vivian Aufderhar</td>
                            <td>Super Admin</td>
                            <td>Arturo_Strosin7yahoo.com</td>
                            <td>(555) 789-0123</td>
                            <td class="text-end">
                                <div class="form-check form-switch ct_custom_switch d-flex justify-content-end">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                        id='flexSwitchCheckChecked' />
                                </div>
                            </td>

                        </tr>
                        <tr>

                            <td class="w-15">
                                10
                            </td>
                            <td>Vivian Aufderhar</td>
                            <td>Super Admin</td>
                            <td>Arturo_Strosin7yahoo.com</td>
                            <td>(555) 789-0123</td>
                            <td class="text-end">
                                <div class="form-check form-switch ct_custom_switch d-flex justify-content-end">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                        id='flexSwitchCheckChecked' />
                                </div>
                            </td>

                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





      <!-- CREATE PROJECT modal S -->

      <div class="modal fade Committed_Price" id="ct_add_sub_admin" tabindex="-1" aria-labelledby="ct_add_sub_adminLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
                <div class="pt-5">
                    <h4 class="mb-4 text-center">New Sub Admin Details</h4>
                    <form action="">
                      <div class="form-group mb-3">
                        <label for="" class="mb-2">Name <span class="ct_required_star">*</span></label>
                        <input type="text" class="form-control">
                      </div>
                      <div class="form-group mb-3">
                        <label for="" class="mb-2">Roll <span class="ct_required_star">*</span></label>
                        <input type="text" class="form-control">
                      </div>
                      <div class="form-group mb-3">
                        <label for="" class="mb-2">Email Address<span class="ct_required_star">*</span></label>
                        <input type="email" class="form-control">
                      </div>
                      <div class="form-group mb-3">
                        <label for="" class="mb-2">Contact No. <span class="ct_required_star">*</span></label>
                        <input type="number" class="form-control">
                      </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer justify-content-center border-0 gap-4 ct_flex_wrap_767">
               
              <button type="button ct_" class="ct_green_btn ct_green_outline_btn ct_h_50 text-dark"  data-bs-dismiss="modal">Cancel</button>
              <button type="button ct_" class="ct_green_btn ct_h_50">Add Sub Admin</button>
            </div>
          </div>
        </div>
      </div>