<div class="ct_dashbaord_middle">
  <div class="d-flex align-items-center justify-content-between">
    <h4 class="mb-0 ct_fs_22">Manage Content</h4>
    <div class="d-flex align-items-center gap-3">

      <div class="ct_category_filter123 ct_575_100 d-flex align-items-center gap-2 ">
        <span class="ct_text_op_5  ct_fs_13" style="white-space: nowrap;">Select Language :</span>
        <select class="form-control py-2 h-auto ct_input" style="border-radius: 5px;" [(ngModel)]="languageId" (change)="onLanguageChange($event)">
          <option *ngFor="let lan of languages" [value]="lan.code">
            {{ lan.name }}
          </option>
        </select>
      </div>

      <button (click)="onUpdate()" style="cursor: pointer;" class="ct_green_btn px-5">
        <div class="d-flex align-items-center justify-content-center">
          <div class="spinner-border me-2" role="status" *ngIf="btnLoader">
            <span class="visually-hidden">Loading...</span>
          </div>
          <span *ngIf="!btnLoader">Update</span>
        </div>
      </button>
    </div>
  </div>

  <div class="row ct_mt_30">
    <div class="col-lg-12 mb-4 mb-lg-0">

  <!-- Radio buttons for selecting the editor -->
  <div class="form-group mb-3">
    <label for="" class="mb-2">Select Section</label>
    <div>
      <label class="form-check-label me-3">
        <input 
          type="radio" 
          class="form-check-input" 
          name="editorSelection" 
          value="about_us" 
          [(ngModel)]="selectedEditor" 
          checked> About Us
      </label>
      <label class="form-check-label me-3">
        <input 
          type="radio" 
          class="form-check-input" 
          name="editorSelection" 
          value="privacy_policy" 
          [(ngModel)]="selectedEditor"> Privacy Policy
      </label>
      <label class="form-check-label">
        <input 
          type="radio" 
          class="form-check-input" 
          name="editorSelection" 
          value="terms_conditions" 
          [(ngModel)]="selectedEditor"> Terms Of Use
      </label>
    </div>
  </div>

      <div *ngIf="selectedEditor === 'about_us'" class="form-group mb-3">
        <!-- <label for="" class="mb-2 ">About Us</label> -->
        <!-- <textarea class="form-control ct_input h-auto" rows="15" [innerHTML]="about_us" placeholder="Type here...."></textarea> -->

        <ngx-editor-menu [editor]="editor1" [toolbar]="toolbar1"></ngx-editor-menu>
        <ngx-editor [editor]="editor1" [(ngModel)]="about_us"></ngx-editor>
        <!-- <button class="ct_custom_btn py-2 px-3 w-auto mt-4 mx-auto d-block" (click)="onUpdate()">
              <div class="d-flex align-items-center justify-content-center">
                  <div class="spinner-border me-2" role="status" *ngIf="btnLoader">
                      <span class="visually-hidden">Loading...</span>
                  </div>
                  <span *ngIf="!btnLoader">Save</span>
              </div>
          </button> -->

      </div>
      <div *ngIf="selectedEditor === 'privacy_policy'" class="form-group mb-3">
        <!-- <label for="" class="mb-2 ">Privacy Policy</label> -->
        <!-- <textarea class="form-control ct_input h-auto" rows="20" [innerHTML]="privacyResult" placeholder="Type here...." ></textarea> -->
        <ngx-editor-menu [editor]="editor3" [toolbar]="toolbar3"></ngx-editor-menu>
        <ngx-editor [editor]="editor3" [(ngModel)]="privacyResult"></ngx-editor>
      </div>
      <div *ngIf="selectedEditor === 'terms_conditions'" class="form-group mb-3">
        <!-- <label for="" class="mb-2 ">Terms & Condition</label> -->
        <!-- <textarea class="form-control ct_input h-auto" rows="20" [innerHTML]="termsResult" placeholder="Type here...." ></textarea> -->
        <ngx-editor-menu [editor]="editor2" [toolbar]="toolbar2"></ngx-editor-menu>
        <ngx-editor [editor]="editor2" [(ngModel)]="termsResult"></ngx-editor>
      </div>

    </div>
  </div>
</div>