<div class="ct_dashbaord_middle">
    <div class="d-flex align-items-center gap-3">
        <a (click)="goBack()" style="cursor: pointer;"
            class="mb-0 ct_back_btn_4 ct_fs_22 text-dark ct_fw_500"><i
                class="fa-solid fa-arrow-left-long me-1"></i>Back</a>
        <h4 class="mb-0 ct_fs_22"> Interview</h4>
    </div>

    <div class="row">
        <!-- <div class="col-md-8 mx-auto">
            <div class="ct_video_img">
                <video src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4"
                    style="filter: brightness(0.8);object-position: bottom;" #videoPlayer1 width="100%" height="290"
                    playsinline preload="metadata" crossorigin="anonymous" controls>
                </video>
            </div>
        </div> -->
        <div class="col-md-12">
            <div style="cursor: pointer;">
                <div class="ct_gren_box_card mt-3" *ngFor="let item of data; let i = index">
                    <a (click)="goToQuestions(item.question, item.video)">
                        <i class="fa-solid fa-clock"></i>
                        <div class="mx-auto">
                            <h4 class="ct_fs_24 ct_fw_600 mb-3 text-white">{{item.title}}</h4>
                            <!-- <p class="mb-0 ct_fs_14 text-white">Due by 7:30 AM on January 24, 2025.</p> -->
                        </div>
                    </a>
                </div>
            </div>
            <div *ngIf="data?.length == 0 || !data" class="text-center">
                <p class="ct_fs_15 mt-5">No items found</p>
            </div>
        </div>
    </div>
</div>

<div class="ct_loader_main" *ngIf="loading">
    <div class="loadingio-spinner-spinner-977el9wwy2v">
        <div class="ldio-4j5ay0xf86g">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>