.ct_status0 {
    background-color: rgb(181, 63, 63, 1);
    padding: 6px 10px;
    border-radius: 100px;
    color: white;
    text-align: center;
}

.ct_status1 {
    background-color: #17af09;
    padding: 6px 10px;
    border-radius: 100px;
    text-align: center;
}