<div class="ct_dashbaord_middle">
  <div class="d-flex align-items-center justify-content-between ">
    <h4 class="mb-0 ct_fs_22">Overview</h4>
  </div>

  <div class="row ct_mt_20">
    <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
      <div class="ct_dash_card">
        <div class="ct_small_icon" style="background-color: #AE19DE">
          <i class="bi bi-people"></i>
        </div>
        <div class="ct_dash_card_info">
          <span>Total Families</span>
          <h4>{{totalFamilies}}</h4>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
      <div class="ct_dash_card">
        <div class="ct_small_icon" style="background-color: #1A6FE7">
          <i class="bi bi-currency-dollar"></i>
        </div>
        <div class="ct_dash_card_info">
          <span>Total Revenue Generated </span>
          <h4>${{totalRevenueGenerate ? (totalRevenueGenerate | number: '1.2-2') : '0'}}</h4>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
      <div class="ct_dash_card">
        <div class="ct_small_icon" style="background-color: #ED9C11">
          <i class="bi bi-person"></i>
        </div>
        <div class="ct_dash_card_info">
          <span>Premium Users</span>
          <h4>
            {{totalPaidUsers}}
          </h4>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
      <div class="ct_dash_card">
        <div class="ct_small_icon" style="background-color: #EB5419">
          <i class="bi bi-people"></i>
        </div>
        <div class="ct_dash_card_info">
          <span>Total Family Members</span>
          <h4>{{totalMembers}}</h4>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0 mt-4">
      <div class="ct_dash_card">
        <div class="ct_small_icon" style="background-color: #19d1eb">
          <i class="bi bi-person"></i>
        </div>
        <div class="ct_dash_card_info">
          <span>Total Guest Users</span>
          <h4>{{totalGuestUser}}</h4>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0 mt-4">
      <div class="ct_dash_card">
        <div class="ct_small_icon" style="background-color: #105f0c">
          <i class="bi bi-person"></i>
        </div>
        <div class="ct_dash_card_info">
          <span>Total Converted Users</span>
          <h4>{{totalGuestConvertedUser}}</h4>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0 mt-4">
      <div class="ct_dash_card">
        <div class="ct_small_icon" style="background-color: #0b097f">
          <i class="bi bi-percent"></i>
        </div>
        <div class="ct_dash_card_info">
          <span>% of Converted Users</span>
          <h4>{{percentageOfGusetConvertedUser}}%</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row ct_mt_30">
    <div class="col-lg-12 mb-4 mb-lg-0">
      <div class="mb-4 d-flex align-items-center justify-content-between">
        <h4 class="mb-0 ct_fs_24 ct_fw_700 mb-0">
          Onboarding Member's Profile
        </h4>
        <button routerLink="/admin/main/member-profile" class="ct_green_outline_btn ct_green_btn">
          Onboarding Member's List
        </button>
      </div>
      <div class="table-responsive ">
        <table class="table ct_project_table">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Display Name</th>
              <th>Gender</th>
              <th>User Type</th>
              <th>DOB</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of data; let i = index">
              <td>
                <div class="d-flex align-items-center gap-2">
                  <img [src]='item.profile_image ? item.profile_image : "assets/img/np_pro.png"'
                    class="ct_img_40 ct_border_2" />
                  <p class="mb-0 ct_fs_16">{{item.fullName}}</p>
                </div>
              </td>
              <td>{{item.displayName}}</td>
              <td>
                @if(item.other_gender == 'none' || item.other_gender == 'null'){
                <div *ngIf="item.gender == 'male'">
                  Male
                </div>
                <div *ngIf="item.gender == 'female'">
                  Female
                </div>
                <div *ngIf="item.gender == 'prefer-not-to-say'">
                  Prefer Not To Say
                </div>
                <div *ngIf="item.gender == 'PreferNotToSay'">
                  Prefer Not To Say
                </div>
                <div *ngIf="item.gender == 'non-binary'">
                  Non Binary
                </div>
                <div *ngIf="item.gender == 'NonBinary'">
                  Non Binary
                </div>
                <div *ngIf="item.gender == 'unknown'">
                  Gender Unknown
                </div>
                } @else {
                <div *ngIf="item.other_gender == 'prefer-not-to-say'">
                  Prefer Not To Say
                </div>
                <div *ngIf="item.other_gender == 'PreferNotToSay'">
                  Prefer Not To Say
                </div>
                <div *ngIf="item.other_gender == 'non-binary'">
                  Non Binary
                </div>
                <div *ngIf="item.other_gender == 'NonBinary'">
                  Non Binary
                </div>
                <div *ngIf="item.other_gender == 'unknown'">
                  Gender Unknown
                </div>
                }

              </td>
              <td>
                @if(item.is_guest == 1 && item.onBoardingDone == 1){
                Guest To User
                } @else if (item.is_guest == 1 && item.onBoardingDone == 0) {
                Guest User
                } @else {
                Root User
                }
              </td>
              <td class="text-end">{{item.birth}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="data?.length == 0 || !data" class="text-center">
        <p class="ct_fs_15 mt-5">No members found</p>
      </div>
    </div>
  </div>
</div>