<div class="ct_dashbaord_middle">
    <div class="d-flex align-items-center justify-content-between">
        <h4 class="mb-0 ct_fs_22">Feedback List</h4>
    </div>

    <div class="row ct_mt_30">
        <div class="col-lg-12 mb-4 mb-lg-0">
            <div class="table-responsive">
                <table class="table ct_project_table ct_light_grey_table_td">
                    <thead>
                        <tr>
                            <th>S No.</th>
                            <th>Member</th>
                            <th>Time</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data; let i = index">
                            <td>{{ item.serialNumber }}</td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <img [src]='item.profile_image ? item.profile_image : "assets/img/np_pro.png"'
                                        class="ct_img_40 ct_border_2" />
                                    <p class="mb-0 ct_fs_16">{{item.fullName}}</p>
                                </div>
                            </td>
                            <td>{{item.create_time}}</td>
                            <td>{{item.created_date}}</td>
                            <td>
                                <div *ngIf="item.feedback_status == 0">
                                    Pending
                                </div>
                                <div *ngIf="item.feedback_status == 1">
                                    Replied
                                </div>
                            </td>
                            <td class="text-end">
                                <a href="javascript:void(0)" (click)="feedbackReview(item)" class="ct_fw_500"
                                    data-bs-toggle="modal" data-bs-target="#ct_see_review">See feedback</a>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div *ngIf="data?.length == 0 || !data" class="text-center">
                <p class="ct_fs_15 mt-5">No feedback found</p>
            </div>

            <!-- Pagination Controls -->
            <!-- <div class="d-flex justify-content-between align-items-center mt-3">

                
                <div class="pagination-controls">
                    <button (click)="previousPage()" class="ct_previous"
                        [disabled]="currentPage === 1">Previous</button>
                    <button>
                        {{ currentPage }}
                    </button>
                    <button class="ct_nxt" (click)="nextPage()" [disabled]="!hasMoreData">Next</button>
                </div>

            </div> -->

            <!-- Pagination Controls -->
            <div class="d-flex justify-content-between align-items-center mt-3">
                <!-- Pagination Controls -->
                <div class="pagination-controls">
                    <button (click)="previousPage()" class="ct_previous" [disabled]="currentPage == 1">Previous</button>

                    <!-- Ellipsis for Skipped Pages -->
                    <button *ngIf="currentPage > 3" (click)="goToPage(1)" [class.active]="currentPage == 1">1</button>
                    <!-- <button *ngIf="currentPage > 3" disabled>...</button> -->

                    <!-- Dynamic Page Buttons -->
                    <button *ngFor="let page of getPaginationRange()" [class.active]="page === currentPage"
                        (click)="goToPage(page)">
                        {{ page }}
                    </button>

                    <!-- Ellipsis for Next Skipped Pages -->
                    <button *ngIf="hasMoreData && currentPage + 2 < totalPages" disabled>...</button>

                    <button class="ct_nxt" (click)="nextPage()" [disabled]="!hasMoreData">Next</button>
                </div>
            </div>

        </div>
    </div>
</div>





<!-- CREATE PROJECT modal S -->

<div class="modal fade Committed_Price" id="ct_see_review" tabindex="-1" aria-labelledby="ct_see_reviewLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content pb-0">
            <div class="modal-body">
                <div class="">
                    <div class=" mb-3">
                        <h4 class="mb-0 text-center">Feedback</h4>
                        <ul class="d-flex align-items-center gap-3 mt-3 justify-content-center">
                            <li><span class="ct_fw_600">Time :</span> {{feedbackDetails?.create_time}}</li>
                            <li><span class="ct_fw_600">Date :</span>{{feedbackDetails?.created_date}}</li>
                        </ul>
                    </div>
                    <!-- <ul class="ct_rating_star123 mb-2">
                        <li *ngFor="let full of [].constructor(getFullStars(feedbackDetails?.rating))">
                            <i class="fa-solid fa-star ct_rated_star"></i>
                        </li>
                        <li *ngIf="hasHalfStar(feedbackDetails?.rating)">
                            <i class="fa-solid fa-star-half-stroke ct_rated_star"></i>
                        </li>
                        <li *ngFor="let empty of [].constructor(getEmptyStars(feedbackDetails?.rating))">
                            <i class="fa-solid fa-star"></i>
                        </li>
                    </ul> -->
                    <p class="mb-0 text-center" style="word-break:break-all">
                        {{feedbackDetails?.feedback}}
                    </p>

                    <div class="form-group mt-3">
                        <span><span class="ct_fw_600 ">Reply To : </span>{{feedbackDetails?.email}}</span>
                        <textarea class="form-control ct_input h-auto" rows="5" [(ngModel)]="message"
                            placeholder="Type here...."></textarea>
                    </div>

                    <button (click)="addSendMsg(feedbackDetails)" class="ct_green_btn mt-3 d-flex"
                        style="width: fit-content;"> Send</button>
                    <button hidden type="button" class="btn btn-secondary" #closeModal
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ct_loader_main" *ngIf="loading">
    <div class="loadingio-spinner-spinner-977el9wwy2v">
      <div class="ldio-4j5ay0xf86g">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>