<div class="ct_dashbaord_middle">
    <div class="d-flex align-items-center justify-content-between">
        <h4 class="mb-0 ct_fs_22">Feedback List</h4>
        <div class="d-flex align-items-center gap-3">
            <div class="ct_category_filter123 ct_575_100 d-flex align-items-center gap-2 ">
                <!-- <span class="ct_text_op_5  ct_fs_13" style="white-space: nowrap;">Select Language :</span> -->
                <select class="form-control py-2 h-auto ct_input" style="border-radius: 5px;"
                    (change)="onStatusChange($event)">
                    <option value=''>
                        All
                    </option>
                    <option value="1">
                        Replied
                    </option>
                    <option value="0">
                        Pending
                    </option>
                </select>
            </div>

            <div class="d-flex align-items-center gap-3">
                <div class="position-relative ct_search_input">
                    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchQuery"
                        (ngModelChange)="getUsers()" />
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="row ct_mt_30">
        <div class="col-lg-12 mb-4 mb-lg-0">
            <div class="table-responsive">
                <table class="table ct_project_table ct_light_grey_table_td">
                    <thead>
                        <tr>
                            <th>S No.</th>
                            <th>Member</th>
                            <th>Email</th>
                            <th>Time</th>
                            <th>Date</th>
                            <th>Messages</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data; let i = index">
                            <td>{{ i + 1 + (currentPage - 1) * pageSize }}</td>

                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <img [src]='item.profile_image ? item.profile_image : "assets/img/np_pro.png"'
                                        class="ct_img_40 ct_border_22" />
                                    <p class="mb-0 ct_fs_16">{{item.fullName}}</p>
                                </div>
                            </td>
                            <td>{{item.email}}</td>
                            <td>{{item.create_time}}</td>
                            <td>{{item.created_date}}</td>
                            <td>
                                <button style="overflow: unset;"
                                    class="ct_green_btn ct_border_radius_0 position-relative ct_btn_fit ct_news_ltr_btn ct_add_item"
                                    data-bs-toggle="modal" data-bs-target="#ct_messages_detail"
                                    (click)="openDialog(item.user_id)">
                                    Messages
                                </button>
                            </td>
                            <td>
                                <div class="ct_status0" *ngIf="item.is_read == 0">
                                    Pending
                                </div>
                                <div class="ct_status0" *ngIf="item.is_read == null">
                                    Pending
                                </div>
                                <div class="ct_status1 text-white" *ngIf="item.is_read == 1">
                                    Replied
                                </div>
                            </td>
                            <td class="text-end">
                                <a href="javascript:void(0)" (click)="feedbackReview(item)" class="ct_fw_500"
                                    data-bs-toggle="modal" data-bs-target="#ct_see_review">See feedback</a>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div *ngIf="data?.length == 0 || !data" class="text-center">
                <p class="ct_fs_15 mt-5">No feedback found</p>
            </div>

            <!-- Pagination Controls -->
            <div class="d-flex justify-content-between align-items-center mt-3">


                <div class="pagination-controls">
                    <!-- @if(totalPages == currentPage){ -->
                    <button (click)="previousPage()" class="ct_previous"
                        [disabled]="currentPage === 1">Previous</button>
                    <!-- } -->

                    <button>
                        {{ currentPage }}
                    </button>
                    @if(totalPages != currentPage){
                    <button class="ct_nxt" (click)="nextPage()" [disabled]="!hasMoreData">Next</button>
                    }
                </div>

            </div>

            <!-- Pagination Controls -->
            <!-- <div class="d-flex justify-content-between align-items-center mt-3">
                
                <div class="pagination-controls">
                    <button (click)="previousPage()" class="ct_previous" [disabled]="currentPage == 1">Previous</button>

                 
                    <button *ngIf="currentPage > 3" (click)="goToPage(1)" [class.active]="currentPage == 1">1</button>
              
                    <button *ngFor="let page of getPaginationRange()" [class.active]="page === currentPage"
                        (click)="goToPage(page)">
                        {{ page }}
                    </button>

                 
                    <button *ngIf="hasMoreData && currentPage + 2 < totalPages" disabled>...</button>

                    <button class="ct_nxt" (click)="nextPage()" [disabled]="!hasMoreData">Next</button>
                </div>
            </div> -->

        </div>
    </div>
</div>





<!-- CREATE PROJECT modal S -->

<div class="modal fade Committed_Price" id="ct_see_review" tabindex="-1" aria-labelledby="ct_see_reviewLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content pb-0">
            <div class="modal-body">
                <div class="">
                    <!-- <div class=" mb-3">

                        <h4 class="mb-0 text-center mx-auto">Feedback</h4>
                        <div class="d-flex justify-content-end">
                            @if(isLanguageChange) {
                                <button (click)="changeLang(feedbackDetails)" class="ct_green_btn mt-3"
                                    style="width: fit-content;">
                                    Translate
                                </button>
                                } @else {
                                <button (click)="reset()" class="ct_green_btn mt-3" style="width: fit-content;">
                                    Reset
                                </button>
                                }
                        </div>

                        <ul class="d-flex align-items-center gap-3 mt-3 justify-content-center">
                            <li><span class="ct_fw_600">Time :</span> {{feedbackDetails?.create_time}}</li>
                            <li><span class="ct_fw_600">Date : </span>{{feedbackDetails?.created_date}}</li>
                        </ul>
                    </div> -->

                    <div class="position-relative mb-3">
                        <!-- Centered Heading -->
                        <h4 class="mb-0 text-center">Feedback</h4>

                        <!-- Button on the Right -->
                        <div class="position-absolute" style="top: 0; right: 0;">
                            @if(isLanguageChange) {
                            <button class="ct_green_btn mt-3" style="width: fit-content;">
                                Translate
                            </button>
                            } @else {
                            <button (click)="reset()" class="ct_green_btn mt-3" style="width: fit-content;">
                                Reset
                            </button>
                            }
                        </div>
                    </div>

                    <!-- Time and Date Section -->
                    <ul class="d-flex align-items-center gap-3 mt-5 justify-content-center">
                        <li><span class="ct_fw_600">Time:</span> {{feedbackDetails?.create_time}}</li>
                        <li><span class="ct_fw_600">Date:</span> {{feedbackDetails?.created_date}}</li>
                    </ul>

                    <!-- <ul class="ct_rating_star123 mb-2">
                        <li *ngFor="let full of [].constructor(getFullStars(feedbackDetails?.rating))">
                            <i class="fa-solid fa-star ct_rated_star"></i>
                        </li>
                        <li *ngIf="hasHalfStar(feedbackDetails?.rating)">
                            <i class="fa-solid fa-star-half-stroke ct_rated_star"></i>
                        </li>
                        <li *ngFor="let empty of [].constructor(getEmptyStars(feedbackDetails?.rating))">
                            <i class="fa-solid fa-star"></i>
                        </li>
                    </ul> -->
                    <p class="mb-0 text-center" style="word-break:break-all">
                        {{changeLangResp ? changeLangResp : feedbackDetails?.feedback}}
                    </p>

                    <div class="form-group mt-3" *ngIf="feedbackDetails?.feedback_status == 0">
                        <span><span class="ct_fw_600 ">Reply To : </span>{{feedbackDetails?.email}}</span>
                        <textarea class="form-control ct_input h-auto" rows="5" [(ngModel)]="message"
                            placeholder="Type here...."></textarea>
                    </div>

                    <div class="form-group mt-3" *ngIf="feedbackDetails?.feedback_status == 1">
                        <span><span class="ct_fw_600 ">Replied To : </span>{{feedbackDetails?.email}}</span>
                        <textarea class="form-control ct_input h-auto" rows="5"
                            [value]="feedback_response ? feedback_response : feedbackDetails?.feedback_response"
                            disabled></textarea>
                    </div>

                    <button *ngIf="feedbackDetails?.feedback_status == 0" (click)="addSendMsg(feedbackDetails)"
                        class="ct_green_btn mt-3 d-flex" style="width: fit-content;">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="spinner-border me-2" role="status" *ngIf="btnLoader">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <span *ngIf="!btnLoader">Send</span>
                        </div>
                    </button>
                    <button hidden type="button" class="btn btn-secondary" #closeModal
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade Committed_Price" id="ct_messages_detail" tabindex="-1" aria-labelledby="ct_supplier_detailLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <!-- chatbox -->
            <div class="chatbox ">
                <div class="modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="msg-head">
                            <div class="row">

                                <div class="col-4">
                                    <ul class="" style="cursor: pointer;">
                                        <li class="navbar nav-item dropdown" (click)="getMessages(ticketId)">
                                            <a class="nav-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <!-- Button on the Right -->
                        <div class="position-absolute" style="top: 0; right: 0;">
                            @if(isLanguageChange) {
                            <button (click)="changeLang()" class="ct_green_btn mt-3" style="width: fit-content;">
                                Translateee
                            </button>
                            } @else {
                            <button (click)="reset()" class="ct_green_btn mt-3" style="width: fit-content;">
                                Reset
                            </button>
                            }
                        </div>

                        <div class="modal-body" #scrollMe [scrollTop]="scrollMe?.scrollHeight">
                            <div class="msg-body"
                                *ngFor="let msg of isLanguageChange == true ? allMessages : feedback_response">
                                <ul>
                                    <li *ngIf="msg.sender_id != 1" class="sender">
                                        <p> {{msg?.message}} </p>
                                        <span class="time">{{msg.date_time}}</span>
                                    </li>

                                    <li *ngIf="msg.sender_id == 1" class="repaly">
                                        <p> {{msg?.message }} </p>
                                        <span class="time">{{msg.date_time}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="send-box">
                            <form action="">
                                <input type="text" class="form-control" aria-label="message…"
                                    placeholder="Write message…" [(ngModel)]="message"
                                    [ngModelOptions]="{standalone: true}">
                                <div class="d-flex align-items-center">

                                    <button [disabled]="isDisabled" (click)="addSendMsg(allMessages)" type="button"><i class="fa fa-paper-plane"
                                            aria-hidden="true"></i>Send</button>

                                    <!-- <button 
                                        (click)="addSendMsg(allMessages)" class="ct_green_btn mt-3 d-flex"
                                        style="width: fit-content;">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <div class="spinner-border me-2" role="status" *ngIf="btnLoader">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                            <span *ngIf="!btnLoader">Send</span>
                                        </div>
                                    </button> -->

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ct_loader_main" *ngIf="loading">
    <div class="loadingio-spinner-spinner-977el9wwy2v">
        <div class="ldio-4j5ay0xf86g">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>