<div class="ct_dashbaord_middle">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h4 class="mb-0 ct_fs_22">Interview</h4>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="ct_video_img">
                <img src="assets/img/video_img.png">
            </div>
            <div>
                <div class="ct_gren_box_card mt-3">
                    <a routerLink="/admin/main/questions">
                        <i class="fa-solid fa-clock"></i>
                        <div class="mx-auto">
                            <h4 class="ct_fs_24 ct_fw_600 mb-3 text-white">13th Birthday Questions</h4>
                            <p class="mb-0 ct_fs_14 text-white">Due by 7:30 AM on January 24, 2025.</p>
                        </div>
                    </a>

                </div>
                <div class="ct_gren_box_card mt-3">
                    <a href="#">
                        <i class="fa-solid fa-clock"></i>
                        <div class="mx-auto">
                            <h4 class="ct_fs_24 ct_fw_600 mb-3 text-white">13th Birthday Questions</h4>
                            <p class="mb-0 ct_fs_14 text-white">Due by 7:30 AM on January 24, 2025.</p>
                        </div>
                    </a>

                </div>
                <div class="ct_gren_box_card mt-3">
                    <a href="#">
                        <i class="fa-solid fa-clock"></i>
                        <div class="mx-auto">
                            <h4 class="ct_fs_24 ct_fw_600 mb-3 text-white">13th Birthday Questions</h4>
                            <p class="mb-0 ct_fs_14 text-white">Due by 7:30 AM on January 24, 2025.</p>
                        </div>
                    </a>

                </div>
                <div class="ct_gren_box_card mt-3">
                    <a href="#">
                        <i class="fa-solid fa-clock"></i>
                        <div class="mx-auto">
                            <h4 class="ct_fs_24 ct_fw_600 mb-3 text-white">13th Birthday Questions</h4>
                            <p class="mb-0 ct_fs_14 text-white">Due by 7:30 AM on January 24, 2025.</p>
                        </div>
                    </a>

                </div>
                <div class="ct_gren_box_card mt-3">
                    <a href="#">
                        <i class="fa-solid fa-clock"></i>
                        <div class="mx-auto">
                            <h4 class="ct_fs_24 ct_fw_600 mb-3 text-white">13th Birthday Questions</h4>
                            <p class="mb-0 ct_fs_14 text-white">Due by 7:30 AM on January 24, 2025.</p>
                        </div>
                    </a>

                </div>
            </div>

        </div>

    </div>
</div>