<div class="ct_dashbaord_middle">
    <div class="d-flex align-items-center justify-content-between">

        <div class="d-flex align-items-center gap-3">
            <a routerLink="/admin/main/roles-manage" class="mb-0 ct_fs_22 text-dark ct_fw_500"><i
                    class="fa-solid fa-arrow-left-long me-3 "></i>Back</a>
            <h4 class="mb-0 ct_fs_22">Select Privileges - “Vivian Aufderhar”</h4>
        </div>
        
        <button class="ct_green_btn px-5">
            Update
        </button>
    </div>


    <div class="row ct_mt_30">
        <div class="col-lg-12 mb-4 mb-lg-0">
            <div class="table-responsive">
                <table class="table ct_project_table ct_border_table_0">
                    <thead>
                        <tr>

                            <th>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">All Modules</p>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx1"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx1" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">All</p>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx2"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx2" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">All</p>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx3"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx3" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">All</p>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx4"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx4" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">All</p>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Dashboard</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Add</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">View</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Edit</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Delete</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Dashboard</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Add</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">View</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Edit</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Delete</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Dashboard</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Add</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">View</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Edit</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Delete</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Dashboard</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Add</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">View</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Edit</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Delete</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Dashboard</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Add</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">View</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Edit</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Delete</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Dashboard</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Add</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">View</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Edit</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Delete</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Dashboard</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Add</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">View</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Edit</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Delete</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Dashboard</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Add</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">View</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Edit</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Delete</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Dashboard</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Add</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">View</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Edit</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Delete</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Dashboard</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Add</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">View</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Edit</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="ct_checkbox_main">
                                        <div>
                                            <input type="checkbox" id="ct_checkbox_cbx"
                                                class="ct_hidden-xs-up ct_checkbox_cbx_12">
                                            <label for="ct_checkbox_cbx" class="ct_checkbox_cbx"></label>
                                        </div>
                                    </div>
                                    <p class="mb-0 ct_line_h_27">Delete</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>