/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ngx-toastr/toastr.css";

/* .ng-image-slider .ng-image-slider-container .main .main-inner .img-div.image-popup{
    width: 500px !important;
} */
.ng-image-slider,
.ng-image-slider .ng-image-slider-container .main,
.ng-image-slider .ng-image-slider-container .main .main-inner .img-div img,
.ng-image-slider .ng-image-slider-container .main .main-inner .img-div video {
    height: 400px !important;
}

.ng-image-slider .ng-image-slider-container .main .main-inner {
    width: auto !important;
}

.error-message {
    color: red;
}

.ct_blue_btn {
    color: #fff;
    background-color: var(--dark_blue);
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--dark_blue);
    padding: 10px 30px;
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: 0.4s ease all;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.ct_blue_btn:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 4px 0px #00000040;
    transform: scaleX(0);
    border-radius: 10px;
    transform-origin: left;
    transition: 0.4s ease all;
    z-index: -1;
}

.ct_blue_btn:hover {
    color: #000;
}

.ct_btn_red {
    background-color: var(--red);
    border-color: var(--red);
}

.ct_outline_blue {
    background-color: transparent;
    color: #414651;
    border-color: #D5D7DA;
    box-shadow: unset;
}

.ct_outline_blue:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;

    transform: scaleX(0);
    border-radius: 10px;
    transform-origin: left;
    transition: 0.4s ease all;
    z-index: -1;
}

.ct_outline_blue:hover:before {
    transform: scaleX(1);
}

.ct_blue_btn:hover:before {
    transform: scaleX(1);
}

button.btn-close.ct_close {
    background-image: unset;
    width: 14px;
    height: 14px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dark_blue);
    opacity: 1;
    right: -7px;
    position: absolute;
    top: -7px;
    color: #fff;
}

.pagination-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pagination-controls .ct_previous,
.pagination-controls .ct_nxt {
    padding: 4px 10px;
    border: 1px solid #f5f5f5;
    color: #000;
    background: #f5f5f5;
    outline: none;
    transition: 0.4s ease all;
    width: auto;
    border-radius: 5px;
}

.pagination-controls .ct_previous:hover,
.pagination-controls .ct_nxt:hover {
    background-color: #0d9c00;
    color: #fff;
}

/* .pagination-controls button:nth-child(2) {
    width: 30px;
    height: 30px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #000;
    transition: 0.4s ease all;
    border-radius: 5px;
} */

.pagination-controls button:hover:nth-child(2) {
    color: #000;
    background-color: #fff;
}

.form-check-input[type="radio"]:checked {
    background: var(--orange);
    border-color: #fff;
}

.form-check-input[type="radio"]:focus {
    box-shadow: unset;
}

.ct_img_h_214 {
    height: 214px !important;
    object-fit: cover;
    /* max-width: 214px !important; */
}

.fullscreen-button {
    position: absolute !important;
    bottom: 10px !important;
    right: 10px !important;
    background-color: #ffffffa6 !important;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000 !important;
    border: 1px solid #fff !important;
    outline: none;
}

.ct_back_btn_4 {
    width: auto;
    height: 30px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 5px;
    padding-inline: 10px;
    transition: 0.4s ease all;
}

.ct_back_btn_4:hover {
    color: #0d9e00 !important;
}

.ct_max_w_214 {
    max-width: 214px;
}

.pagination-controls button {
    width: 30px;
    height: 30px;
    border: 0px;
    border-radius: 5px;
}

.NgxEditor__Content {
    display: flex !important;
    flex-wrap: wrap;
}

/* .ct_table_padd_0.table>:not(caption)>*>*{
    padding: 0px;
} */
.ct_checkbox_custom_1 .form-check-input:checked {
    background-color: var(--dark_green);
    border-color: var(--dark_green);
}
.ct_checkbox_custom_1 .form-check-input:focus{
    box-shadow: unset;
}

.ct_checkbox_custom_1 .form-check-input{
margin-left: 0px;
}

.ct_checkbox_custom_1{
    padding-left: 0px;
}

.ct_all_table_list_parent tr td{
    vertical-align: middle;
    
}

.ct_all_table_list_parent {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);
  
    margin-bottom: 24px;
}

.ct_all_table_list_scrolll{
    height: auto;
    overflow-y: auto;
    max-height: 531px;
}

/* width */
.ct_all_table_list_scrolll::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  .ct_all_table_list_scrolll::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .ct_all_table_list_scrolll::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .ct_all_table_list_scrolll::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .modal-body.ct_modal_scroll_h_300 {
    height: 300px;
    overflow-y: AUTO;
}

p.ct_emoji_icon_position{
    position: absolute;
    right: 10px;
    bottom:15px;
    z-index: 9;
    margin-bottom: 0px;
} 
.NgxEditor__Content p{
    word-break: break-word;
    width: 95%;
}