<div class="ct_dashbaord_middle">
    <div class="d-flex align-items-center justify-content-between">
        <h4 class="mb-0 ct_fs_22">Change Password</h4>
    </div>

    <div class="row mt-5">
        <div class="col-md-8 mx-auto">
            <div class="ct_white_bg_1 py-5">
                <h4 class="ct_fs_24 mb-4 ct_fw_600">Change Password</h4>
                <form action="">
                    <div class="form-group mb-4 position-relative">
                        <label class="mb-2">Current Password <span class="ct_required_star">*</span></label>
                        <input required="" placeholder="Current Password" type="password" name="text" autocomplete="off" class="form-control ct_input">
                        <i class="fa-regular fa-eye ct_hide_pass_wye"></i>

                    </div>
                    <div class="form-group mb-4 position-relative">
                        <label class="mb-2">New Password <span class="ct_required_star">*</span></label>
                        <input required="" placeholder="New Password" type="password" name="text" autocomplete="off" class="form-control ct_input">
                        <i class="fa-regular fa-eye ct_hide_pass_wye"></i>

                    </div>
                    <div class="form-group mb-4 position-relative">
                        <label class="mb-2">Confirm Password <span class="ct_required_star">*</span></label>
                        <input required="" placeholder="Confirm Password" type="password" name="text" autocomplete="off" class="form-control ct_input">
                        <i class="fa-regular fa-eye ct_hide_pass_wye"></i>

                    </div>
                    <button class="ct_green_btn mt-5 px-5 mx-auto d-flex" style="width: fit-content;"> Update</button>
                </form>
            </div>
        </div>

    </div>


</div>