<div class="ct_dashbaord_middle">
    <div class="d-flex align-items-center justify-content-between">
        <h4 class="mb-0 ct_fs_22">Change Password</h4>
    </div>

    <div class="row mt-5">
        <div class="col-md-8 mx-auto">
            <div class="ct_white_bg_1 py-5">
                <h4 class="ct_fs_24 mb-4 ct_fw_600">Change Password</h4>
                <form [formGroup]="form">
                    <div class="form-group mb-4 position-relative">
                        <label class="mb-2">Current Password <span class="ct_required_star">*</span></label>
                        <input type="{{ isPasswordVisible1 ? 'text' : 'password' }}" placeholder="Current Password"
                            name="text" autocomplete="off" class="form-control ct_input"
                            formControlName="current_password" maxlength="15">
                        <i class="fa-regular ct_hide_pass_wye" [ngClass]="isPasswordVisible1 ? 'fa-eye' : 'fa-eye-slash' "
                            (click)="togglePasswordVisibility1()"></i>
                        <div *ngIf="form.controls['current_password']?.invalid && form.controls['current_password'].touched"
                            class="error-message">
                            <div *ngIf="form.controls['current_password'].errors?.['required']">Current password is
                                required.
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-4 position-relative">
                        <label class="mb-2">New Password <span class="ct_required_star">*</span></label>
                        <input type="{{ isPasswordVisible2 ? 'text' : 'password' }}" placeholder="New Password"
                            name="text" autocomplete="off" class="form-control ct_input" formControlName="new_password">
                        <i class="fa-regular ct_hide_pass_wye" [ngClass]="isPasswordVisible2 ? 'fa-eye' : 'fa-eye-slash' "
                            (click)="togglePasswordVisibility2()"></i>
                        <div class="error-message"
                            *ngIf="form.controls['new_password']?.invalid && form.controls['new_password']?.touched">
                            <div *ngIf="form.controls['new_password'].errors?.['required']">New password is required.
                            </div>
                            <div *ngIf="form.controls['new_password'].errors?.['minlength']">
                                New password must be at least 8 characters long.
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-4 position-relative">
                        <label class="mb-2">Confirm Password <span class="ct_required_star">*</span></label>
                        <input type="{{ isPasswordVisible3 ? 'text' : 'password' }}" placeholder="Confirm Password"
                            name="text" autocomplete="off" class="form-control ct_input"
                            formControlName="confirm_password" maxlength="15">
                        <i class="fa-regular ct_hide_pass_wye"
                            [ngClass]="isPasswordVisible3 ? 'fa-eye' : 'fa-eye-slash' "
                            (click)="togglePasswordVisibility3()"></i>
                        <div *ngIf="form.controls['confirm_password']?.invalid && form.controls['confirm_password'].touched"
                            class="error-message">
                            <div *ngIf="form.controls['confirm_password'].errors?.['required']">
                                Confirm password is required.</div>
                            <div *ngIf="passwordMismatch && !form.controls['confirm_password'].errors?.['required']">
                                Passwords do not match.</div>
                        </div>
                    </div>
                    <button (click)="submitForm()" class="ct_green_btn mt-5 px-5 mx-auto d-flex"
                        style="width: fit-content;"> Update</button>
                </form>
            </div>
        </div>

    </div>
</div>

<div class="ct_loader_main" *ngIf="loading">
    <div class="loadingio-spinner-spinner-977el9wwy2v">
        <div class="ldio-4j5ay0xf86g">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>