<div class="ct_dashbaord_middle">
    <div class="d-flex align-items-center justify-content-between">
        <h4 class="mb-0 ct_fs_22">Rating / Review</h4>
    </div>

    <div class="row ct_mt_30">
        <div class="col-lg-12 mb-4 mb-lg-0">
            <div class="table-responsive">
                <table class="table ct_project_table ct_light_grey_table_td">
                    <thead>
                        <tr>
                            <th>Member</th>
                            <th>Rating</th>
                            <th>Time</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <img src="assets/img/user_img.png" class="ct_img_40 ct_border_2" />
                                    <p class="mb-0 ct_fs_16">Edmond Stark</p>
                                </div>
                            </td>
                            <td>
                                <ul class="ct_rating_star123 my-0 justify-content-start">
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star-half-stroke ct_rated_star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                </ul>
                            </td>
                            <td>01:39 PM</td>
                            <td>22-04-2024</td>
                            <td class="text-end">
                                <a href="javascript:void(0)" class="ct_fw_500" data-bs-toggle="modal"
                                    data-bs-target="#ct_see_review">See review</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <img src="assets/img/user_img.png" class="ct_img_40 ct_border_2" />
                                    <p class="mb-0 ct_fs_16">Edmond Stark</p>
                                </div>
                            </td>
                            <td>
                                <ul class="ct_rating_star123 my-0 justify-content-start">
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </td>
                            <td>01:39 PM</td>
                            <td>22-04-2024</td>
                            <td class="text-end">
                                <a href="javascript:void(0)" class="ct_fw_500" data-bs-toggle="modal"
                                    data-bs-target="#ct_see_review">See review</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <img src="assets/img/user_img.png" class="ct_img_40 ct_border_2" />
                                    <p class="mb-0 ct_fs_16">Edmond Stark</p>
                                </div>
                            </td>
                            <td>
                                <ul class="ct_rating_star123 my-0 justify-content-start">
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </td>
                            <td>01:39 PM</td>
                            <td>22-04-2024</td>
                            <td class="text-end">
                                <a href="javascript:void(0)" class="ct_fw_500" data-bs-toggle="modal"
                                    data-bs-target="#ct_see_review">See review</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <img src="assets/img/user_img.png" class="ct_img_40 ct_border_2" />
                                    <p class="mb-0 ct_fs_16">Edmond Stark</p>
                                </div>
                            </td>
                            <td>
                                <ul class="ct_rating_star123 my-0 justify-content-start">
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </td>
                            <td>01:39 PM</td>
                            <td>22-04-2024</td>
                            <td class="text-end">
                                <a href="javascript:void(0)" class="ct_fw_500" data-bs-toggle="modal"
                                    data-bs-target="#ct_see_review">See review</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <img src="assets/img/user_img.png" class="ct_img_40 ct_border_2" />
                                    <p class="mb-0 ct_fs_16">Edmond Stark</p>
                                </div>
                            </td>
                            <td>
                                <ul class="ct_rating_star123 my-0 justify-content-start">
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </td>
                            <td>01:39 PM</td>
                            <td>22-04-2024</td>
                            <td class="text-end">
                                <a href="javascript:void(0)" class="ct_fw_500" data-bs-toggle="modal"
                                    data-bs-target="#ct_see_review">See review</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <img src="assets/img/user_img.png" class="ct_img_40 ct_border_2" />
                                    <p class="mb-0 ct_fs_16">Edmond Stark</p>
                                </div>
                            </td>
                            <td>
                                <ul class="ct_rating_star123 my-0 justify-content-start">
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </td>
                            <td>01:39 PM</td>
                            <td>22-04-2024</td>
                            <td class="text-end">
                                <a href="javascript:void(0)" class="ct_fw_500" data-bs-toggle="modal"
                                    data-bs-target="#ct_see_review">See review</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <img src="assets/img/user_img.png" class="ct_img_40 ct_border_2" />
                                    <p class="mb-0 ct_fs_16">Edmond Stark</p>
                                </div>
                            </td>
                            <td>
                                <ul class="ct_rating_star123 my-0 justify-content-start">
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </td>
                            <td>01:39 PM</td>
                            <td>22-04-2024</td>
                            <td class="text-end">
                                <a href="javascript:void(0)" class="ct_fw_500" data-bs-toggle="modal"
                                    data-bs-target="#ct_see_review">See review</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <img src="assets/img/user_img.png" class="ct_img_40 ct_border_2" />
                                    <p class="mb-0 ct_fs_16">Edmond Stark</p>
                                </div>
                            </td>
                            <td>
                                <ul class="ct_rating_star123 my-0 justify-content-start">
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </td>
                            <td>01:39 PM</td>
                            <td>22-04-2024</td>
                            <td class="text-end">
                                <a href="javascript:void(0)" class="ct_fw_500" data-bs-toggle="modal"
                                    data-bs-target="#ct_see_review">See review</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <img src="assets/img/user_img.png" class="ct_img_40 ct_border_2" />
                                    <p class="mb-0 ct_fs_16">Edmond Stark</p>
                                </div>
                            </td>
                            <td>
                                <ul class="ct_rating_star123 my-0 justify-content-start">
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </td>
                            <td>01:39 PM</td>
                            <td>22-04-2024</td>
                            <td class="text-end">
                                <a href="javascript:void(0)" class="ct_fw_500" data-bs-toggle="modal"
                                    data-bs-target="#ct_see_review">See review</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <img src="assets/img/user_img.png" class="ct_img_40 ct_border_2" />
                                    <p class="mb-0 ct_fs_16">Edmond Stark</p>
                                </div>
                            </td>
                            <td>
                                <ul class="ct_rating_star123 my-0 justify-content-start">
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star ct_rated_star"></i>
                                    </li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </td>
                            <td>01:39 PM</td>
                            <td>22-04-2024</td>
                            <td class="text-end">
                                <a href="javascript:void(0)" class="ct_fw_500" data-bs-toggle="modal"
                                    data-bs-target="#ct_see_review">See review</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<!-- CREATE PROJECT modal S -->

<div class="modal fade Committed_Price" id="ct_see_review" tabindex="-1" aria-labelledby="ct_see_reviewLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content pb-5">
            <div class="modal-body">
                <div class="pt-5">
                    <h4 class="mb-4 text-center">Review</h4>
                    <ul class="d-flex align-items-center gap-3 justify-content-center">
                        <li>01:39 PM</li>
                        <li>22-04-2024</li>
                    </ul>
                    <ul class="ct_rating_star123 mb-2">
                        <li><i class="fa-solid fa-star ct_rated_star"></i></li>
                        <li><i class="fa-solid fa-star ct_rated_star"></i></li>
                        <li><i class="fa-solid fa-star ct_rated_star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                    </ul>
                    <p class="mb-0 text-center">
                        Lorem ipsum dolor sit amet consectetur. Quis urna turpis donec
                        suspendisse ommodo sit justo quis diam. Leo at ac mattis sed sed
                        nisl faucibus scelerisque aliquam. Porttir interdum elementum
                        mollis amet cras fermentum interdum natoque.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>