.card {
  border-radius: 12px;
}

.progress {
  background: #e9ecef;
}

.progress-bar {
  border-radius: 10px;
}

h3,
h4,
h5 {
  letter-spacing: 0.3px;
}

.cursor-pointer {
  cursor: pointer;
}

.form-check-input:checked{
    background-color: var(--dark_green);
    border-color: var(--dark_green);
}
.ct_switch .form-check-input {
  height: 20px;
  cursor: pointer;
}

.ct_switch .form-check-input:focus {
  box-shadow: unset;
}

.ct_switch .form-check-input {
  height: 20px;
  cursor: pointer;
}

.ct_switch .form-check-input:focus {
  box-shadow: unset;
}


